.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

.wp-5{width:5% !important;}
.wp-10{width:10% !important;}
.wp-12{width:12% !important;}
.wp-15{width:15% !important;}
.wp-20{width:20% !important;}
.wp-25{width:25% !important;}
.wp-30{width:30% !important;}
.wp-35{width:35% !important;}
.wp-40{width:40% !important;}
.wp-45{width:45% !important;}
.wp-50{width:50% !important;}
.wp-55{width:55% !important;}
.wp-60{width:60% !important;}
.wp-65{width:65% !important;}
.wp-70{width:70% !important;}
.wp-75{width:75% !important;}
.wp-80{width:80% !important;}
.wp-85{width:85% !important;}
.wp-90{width:90% !important;}
.wp-95{width:95% !important;}
.wp-100{width:100% !important;}

.p12{padding:12px !important;}
.pt8{padding-top:8px !important;}

.display-block{display: block !important;}
.display-in-block{display: inline-block !important;}

.bt-light{border-top: 1px solid #ddd;}
.br-light{border-right: 1px solid #ddd;}
.bb-light{border-bottom: 1px solid #ddd;}
.bl-light{border-left: 1px solid #ddd;}

.action-links .popover-content{padding:0;}
.action-links ul{list-style:none;padding:0;margin:0;min-width:120px;}
.action-links li:hover{background:#eee;}
.action-links li a{display:block;border-bottom: 1px solid #ddd;padding:8px;text-decoration:none;}
.action-links li.last a{border-bottom:none;}
.action-links li a i{margin-right:5px;}
.action-links li a:hover{text-decoration:none;}

.btn-reeach{background:#00D59D !important;}

.admin-form .select .fa-spin {
    color: #9f9f9f;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 100;
}

.lh-sm{line-height: 1.5 !important;}
.displaynone{display: none;}

.selected-tag{border: 1px solid #ddd;padding:5px;background:#fff;margin:10px 10px 10px 0;display:inline-block;}
.ha{height:auto !important;}

.mh170{max-height:170px;overflow:auto;}
.mh70, .mh-70{max-height:70px;}