@media only screen and (max-width: 320px) {
    .trust-thum{margin:0 10px 50px 0;}
	.trust-content{height:260px;}
	.banner-text p{ overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
}
@media only screen and (min-width: 767px) {
    
    
}


@media only screen and (min-width: 1170px) {
.wrap{width:1280px; margin:0 auto;}
header .login_register_top a, .callus_top{color:#fff; font-size:16px; padding:2px 10px; line-height:1;}
.header{text-align:left;}
.header .logo{width:192px; height:38px; margin:15px 0; padding:0; float:left;}
    
.sticky {background:#fff; transition:all 0.2s ease-in-out;}
.fixed {position:fixed; top:0; left:0; width:100%; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15); z-index: 10;}    
main#content {padding:0px; }
    
html.open-menu nav#menu{box-shadow:0 2px 5px rgba(0,0,0,.15); -webkit-box-shadow:0 2px 5px rgba(0,0,0,.15);}
#menu ul li ul:before {width:0; height:0; border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:8px solid #00d59d; content:""; position: absolute;left:50%; top:-10px; margin-left:-13px; display:block;}
.owl-carousel .owl-item{height:640px; position:relative;}
.banner-text{position:absolute; top:150px; left:30px; width:880px;}
.banner-text .banner-text-heading, .banner-text .banner-text-subheading{font-size:60px;}
.banner-text .banner-text-subheading{font-size:30px; margin:25px 0;}
.banner-text p{font-size:16px; line-height:2; padding-right:0;}
#content h1, #content h2{font-size:30px; margin:60px 0 36px;}
.join-conversation{margin:100px auto 0; padding:0px; width:1280px;}
.join-conversation li{width:280px; margin-right:53px; margin-bottom:0px;}
.trust-lst{margin-bottom:80px;}
.trust-thum{width:480px; margin:0; text-align:center; padding:0px;}
.trust-content{width:795px; height:132px; float:left;}
.trust-content h3{font-size:18px; margin:0 0 15px; padding:0px;}
.trust-content p{font-size:16px; margin:0; padding:0;}
.download-app{height:485px;}
.download-app-content{width:560px; padding:0; margin:50px 0;}
.app-dn-hdng{font-size:60px; text-align:left;}
.app-dn-contnt, .download-app h4{font-size:16px; line-height:2; margin:1.5em 0; text-align:left;}
.download-app h4{margin: 0 0 10px; font-size:16px; text-align:left;}
.android-play, .app-store{display:inline-block; margin-right:20px;}
.social-bar{padding:2em 0; margin:50px 0 0;}
.social-bar ul{margin:0 auto; width:660px;}
.social-bar li{float:left; padding:0; margin:0; width:auto;}
.social-bar li a{width:100px; height:113px; background:url(../images/ic_polygone.png) no-repeat 0 0; display:block; margin-right:40px;}
.abt{padding:1em 0; margin: 0; width:900px;}
.abt h3, .footer-link h3{font-size:18px;}
.abt p{font-size:16px; text-align:left;}
.footer-link{ padding:1em 0; float:right; text-align:left;}
.ftr-btm{padding:1em 0; font-size:14px;}
.story-our p{font-size:16px; line-height:2; margin:1.5em 0; text-align:center;}
.footer-link li{border:0px none;}
.footer-link li a{padding:0px;}
.pages .page-banner{height:135px; }
.pages {margin-top: 80px;}
.pages h2 {font-size:19px !important; margin:0 0 15px !important;}
.pages p{text-align: justify;}
.content{padding:2em; margin:2em 0 0;}
.ic_fb{width:30px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_fb.png) no-repeat 0 0; margin-top:25px;}
.ic_twtr{width:35px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_twtr.png) no-repeat 0 0; margin-top:25px;}
.ic_lnkdin{width:47px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_lnked.png) no-repeat 0 0; margin-top:25px;}
.ic_utbe{width:57px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_utbe.png) no-repeat 0 0; margin-top:25px;}
.ic_rss{width:57px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_rss.png) no-repeat 0 0; margin-top:25px;}
.trust-mttrs{    padding: 2em 0;}
.rytme{float:right!important;}

/*-- paln page ---*/
.subscription_plans li{width:292px;}


}

@media only screen and (max-width: 768px) {
    
}

