html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas,details, embed,figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0; padding:0; border:0; font-size: 100%; font:inherit; vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}

/********** custom fonts exo **********/

@font-face {font-family: 'exo_2bold'; src: url('../fonts/Exo2-Bold-webfont.eot'); src: url('../fonts/Exo2-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2-Bold-webfont.woff') format('woff'), url('../fonts/Exo2-Bold-webfont.ttf') format('truetype'), url('../fonts/Exo2-Bold-webfont.svg#exo_2bold') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'exo_2light'; src: url('../fonts/Exo2-Light-webfont.eot'); src: url('../fonts/Exo2-Light-webfont.eot?#iefix') format('embedded-opentype'),         url('../fonts/Exo2-Light-webfont.woff') format('woff'), url('../fonts/Exo2-Light-webfont.ttf') format('truetype'), url('../fonts/Exo2-Light-webfont.svg#exo_2light') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family:'exo_2regular'; src:url('../fonts/Exo2-Regular-webfont.eot'); src:url('../fonts/Exo2-Regular-webfont.eot?#iefix') format('embedded-opentype'),         url('../fonts/Exo2-Regular-webfont.woff') format('woff'), url('../fonts/Exo2-Regular-webfont.ttf') format('truetype'), url('../fonts/Exo2-Regular-webfont.svg#exo_2regular') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'exo_2semi_bold'; src:url('../fonts/Exo2-SemiBold-webfont.eot'); src:url('../fonts/Exo2-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),         url('../fonts/Exo2-SemiBold-webfont.woff') format('woff'), url('../fonts/Exo2-SemiBold-webfont.ttf') format('truetype'), url('../fonts/Exo2-SemiBold-webfont.svg#exo_2semi_bold') format('svg'); font-weight:normal; font-style:normal;}

/********** custom fonts roboto **********/

@font-face {font-family:robotolight; src:url('../fonts/roboto/roboto-light_1-webfont.eot'); src:url('../fonts/roboto/roboto-light_1-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-light_1-webfont.woff') format('woff'),url('../fonts/roboto/roboto-light_1-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-light_1-webfont.svg#robotolight') format('svg');font-weight:400; font-style:normal;}
@font-face {font-family:robotoregular; src:url('../fonts/roboto/Roboto-Regular-webfont.eot'); src:url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg'); font-weight:400; font-style:normal;}
@font-face {font-family:robotobold; src:url('../fonts/roboto/roboto-bold_1-webfont.eot'); src:url('../fonts/roboto/roboto-bold_1-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-bold_1-webfont.woff') format('woff'),url('../fonts/roboto/roboto-bold_1-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-bold_1-webfont.svg#robotobold') format('svg');font-weight:400; font-style:normal;}
@font-face {font-family:robotomedium;src: url('../fonts/roboto/roboto-medium-webfont.eot');src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');font-weight: normal;font-style: normal;}