*, *::after, *::before { box-sizing: border-box;}

html {font-size:62.5%;}

body {font-size: 1.6rem; font-family: "robotoregular", sans-serif; color: #3e454c; background-color:#efefef; -webkit-backface-visibility: hidden;}
body::after {clear: both; content: ""; display: table;}

a {color:#00d59d; text-decoration:none; outline:none; transition:all .5s linear;}
img{max-width:100%; height:auto; border:none;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
* html .clearfix{ zoom: 1; } *:first-child+html .clearfix {zoom:1;}
.floatleft{float:left;}
.floatright{float:right;}

input {font-family: "Open Sans", sans-serif; font-size: 1.6rem;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {display: none;}

/* ---- Main Page Content ----------- */
.wrap{width:100%; margin:0;}

header{background:#00d59d;}
header .header_top{}
header .login_register_top ul{margin:0; padding:0;}
header .login_register_top li{float:left; list-style:none; margin:0; padding:0;}
header .login_register_top a, .callus_top{color:#fff; font-size:12px; font-family:"exo_2semi_bold", sans-serif; display:block; text-align:center; margin:5px 0; padding:9px 10px; text-transform:uppercase; border-right:1px solid #fff; line-height:0px;}
header .login_register_top li:last-child a{border: 0px none;}
.callus_top{border:0px none;}

.header{text-align:center; background:#FFF;}
.header .logo{width:192px; height:38px; margin:8px auto; padding:0; display:inline-block; float:none;}
.m-stuck{position:fixed; top: 0; left: 0;z-index:999; width:100%; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);}
.fa-bars{width:24px; height:24px; display:inline-block; vertical-align:middle; background:url(../images/list-menu.png) no-repeat 0 0;}
.fa-caret-right{width:16px; height:16px; display:inline-block; vertical-align:middle; background:url(../images/arrow-right.png) no-repeat 0 0;}
/*========== menu =============*/
div#overlay {display:none;}
    a#toggle {position:fixed; top:37px; left:0px; width:36px; height:35px; background-color:#00d59d; text-align:center; color:#fff; display:none; transition:all ease-out 0.3s;}
    a#toggle i {position:relative; top:50%; transform:translateY(-50%);}

    main#content {padding:80px 0 0 0; }

    #menu {text-align:center; transition:all ease-out 0.3s;}
    #menu a {color:white;}
    #menu ul {margin:0; padding:0; background-color:#fff;}
    #menu ul li {display:inline-block; position:relative; border-bottom:none;}
    #menu ul li > a {display:inline-block; padding:15px; margin:11px 0; color:#474747; font-size:16px; font-family:"exo_2regular", sans-serif; text-transform:uppercase;}
    #menu ul li > a > i {margin-left:15px; transition:all ease-out 0.3s; -webkit-transition:all ease-out 0.1s; display:none;}
    #menu ul li ul {display:none; position:absolute; top:68px; width:245px; text-align:left; border-top:3px solid #00d59d; left:50%; margin-left:-123px; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15); z-index:9;}
    #menu ul li ul:before {display:none; }
    #menu ul li ul li {display:block; border-bottom:1px solid #eee;}
    #menu ul li ul li:last-child{border-bottom: 0px none;}
    #menu ul li ul li a { display:block; font-size:14px; padding:15px; margin:0; line-height:1;}
    #menu ul li:hover > a {color:#00d59d;}
    #menu ul li:hover > a > i { transform: rotateZ(90deg); }
    #menu ul li:hover ul {display:block;}
    
    
    
    

    
@media screen and (max-width:767px) {
    a#toggle {display:block;}
    main#content {margin-top:0px; transition:all ease-out 0.3s;}
    #menu {position:fixed; width:250px; height:100%; top:0; left:0; overflow:hidden; overflow-y:auto; background-color:#fff; transform:translateX(-250px);}
    #menu ul {text-align:left; background-color:transparent;}
    #menu ul li {display:block; border-bottom:1px solid #eee;}
    #menu ul li a {display:block;}
    #menu ul li a > i {float:right; display:block;}
    #menu ul li ul {display:none; position:static; width:100%; background-color:rgba(22,160,133, 0.2); margin:0px; left:0; top:0px;}
    #menu ul li:hover > ul {display:none;}
    #menu ul li:hover > a > i {transform:rotateZ(0);}
    #menu ul li.open > a {background-color:#fff; color:#00d59d; margin:0px;}
    #menu ul li.open > a > i {transform:rotateZ(90deg);}
    #menu ul li.open > ul {display:block;}

    div#overlay {display:block; visibility:hidden; position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.8); transition:all ease-out 0.3s; z-index:1; opacity:0;}

    html.open-menu {overflow:hidden;}
    html.open-menu div#overlay {visibility:visible; opacity:1; width:calc(-150%); left:250px;}
    html.open-menu a#toggle, html.open-menu main#content {transform:translateX(250px);}
    html.open-menu nav#menu {z-index:3; transform:translateX(0); box-shadow:0 2px 5px rgba(0,0,0,.15); -webkit-box-shadow:0 2px 5px rgba(0,0,0,.15);}
}
/*=============== menu end ===============*/
.banner{}
.owl-carousel .owl-item{height:auto; position:relative;}
#owl-demo .item img{display:block; width:100%; height:auto;}
.owl-theme .owl-controls {position:absolute; right:10px; bottom:10px; z-index:5;}
.owl-page{display:inline-block;}
.owl-page span{border:1px solid #FFF; border-radius:20px; display:block; height:12px; margin:5px 7px; width:12px;}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {background:#00d59d; border:1px solid #00d59d;}

.banner-text{position:absolute; top:30px; left:10px; width:100%;}
.banner-text .banner-text-heading, .banner-text .banner-text-subheading{font-size:21px; font-weight:700; font-family:'exo_2bold', sans-serif; text-shadow:0 1px 2px rgba(0,0,0,.15); color:#fff; text-transform:uppercase;}
.banner-text .banner-text-subheading{font-size:14px; margin:12px 0;}
.banner-text .banner-text-heading span, .banner-text .banner-text-subheading span{color:#00d59d;}
.banner-text p{color:#fff; font-size:12px; font-family:'robotolight', sans-serif; line-height:1.3; text-transform:uppercase; padding-right:2em;}

#content{}
#content h1, #content h2{font-size:18px; font-family:'exo_2semi_bold', sans-serif; color:#474747; text-transform:uppercase; text-align:center; margin:30px 0 18px;}
#content h1:after, #content h2:after{width:60px; height:3px; background:#00d59d; content:""; display:block; margin:8px auto 0;}

.join-conversation{margin:80px 0 0; padding:0 15px;}
.join-conversation li{width:100%; height:305px; float:left; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15); position:relative; text-align:center; margin:0 0 80px 0;}
.join-conversation li:last-child{margin-right:0px; margin-bottom:0px;}
.join-heading{margin:110px 0 30px; font-size:18px; font-family:'robotomedium', sans-serif; color:#474747; text-transform:uppercase; text-align:center;}
.join-content{margin:0 0 40px; font-size:16px; font-family:'robotoregular', sans-serif; color:#474747; text-align:center; line-height: 1.4;}
.join-btn{ background:#474747; border-radius:3px; color:#fff; font-size:18px; margin:0 auto; padding:0.7em 1.4em; text-align:center;    text-transform: uppercase; display:inline-block; vertical-align:middle; font-family:"exo_2semi_bold", sans-serif;}
.join-btn:hover{background:#00d59d;}

.greenbx::before, .yellobx::before, .rednbx::before, .bluenbx::before {background:#00d59d; content:""; height:5px; position:absolute; width:100%; left:0; top:0;}
.yellobx::before{background:#ffc107;}
.rednbx::before{background:#ff3d00;}
.bluenbx::before{background:#2196f3;}
.ic_earn{width:63px; height:84px; display:inline-block; vertical-align:middle; margin:15px 0 0; background: url(../images/ic_earn.png) no-repeat 0 0;}
.ic_hand{width:77px; height:64px; display:inline-block; vertical-align:middle; margin:32px 0 0; background: url(../images/ic_hand.png) no-repeat 0 0;}
.ic_awrd{width:61px; height:77px; display:inline-block; vertical-align:middle; margin:20px 0 0; background: url(../images/ic_awrd.png) no-repeat 0 0;}
.ic_graph{width:61px; height:61px; display:inline-block; vertical-align:middle; margin:32px 0 0; background: url(../images/ic_graph.png) no-repeat 0 0;}

.round-box{width:119px; height:119px; position:absolute; left:50%; top:-59px; margin-left:-59px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15); border-radius:50%; text-align:center;}

.trust-mttrs{background:#fff; padding:1em 0; margin:0;}
.trust-lst{margin-bottom:20px;}
.trust-thum{width:130px; margin:0 10px 10px 0; text-align:center; padding:10px;}
.trust-content{border-bottom:2px solid #ccc; height:155px; width:100%; position:relative; float:none;}
.trust-content:after{width:100px; height:2px; position:absolute; bottom:-2px; left:0px; content:""; background:url(../images/ic_colored.png) no-repeat 0 0;}
.trust-content h3{font-size:14px; font-family:'robotomedium', sans-serif; color:#474747; text-transform:uppercase; margin:0 0 5px; padding:0 1em;}
.trust-content p{font-size:13px; font-family:'robotolight', sans-serif; color:#858484; margin:0; padding:0 1em; line-height:1.4;}

.download-app{background:url(../images/download-app.png) no-repeat fixed 0 center/cover; height:300px;}
.download-app-content{padding:.7em 1em; margin:0;}
.app-dn-hdng{font-size:20px; color:#fff; font-family:'exo_2light', sans-serif; font-weight:300; line-height:1.2; text-align:center;}
.app-dn-contnt, .download-app h4{font-size:13px; color:#fff; font-family:'robotolight', sans-serif; font-weight:300; line-height:1.2; margin:15px 0; text-align:center;}
.download-app h4{margin: 0 0 8px; font-size:12px; font-family:'exo_2semi_bold', sans-serif; text-transform:uppercase; font-weight: bold; text-align:center;}
.app-store{width:195px; height:66px; display:block; background:url(../images/ios-android.png) no-repeat 0 0; margin:0 auto 0;}
.android-play{width:195px; height:66px; display:block; background:url(../images/ios-android.png) no-repeat -207px 0;  margin:0 auto 8px;}
.story-our{text-align:center;}
.story-our p{font-size:14px; color:#474747; font-family:'robotolight', sans-serif; font-weight:300; line-height:1.5; margin:1.5em 0; padding:0 1em; text-align:justify;}

.social-bar{padding:1em 0 0; margin:10px 0 0; background:#00d59d;}
.social-bar ul{margin:0; width:100%;}
.social-bar li{float:left; padding:0; margin:0 0 15px; width:33.33%; text-align:center;}
.social-bar li a{display:inline-block; text-align:center; width:75px; height:85px; background:url(../images/ic_polygone.png) no-repeat 0 0/100% auto; margin-right:0px;}
.social-bar li:last-child a{margin-right:0px;}
.ic_fb{width:20px; height:43px; display:inline-block; vertical-align:middle; background:url(../images/ic_fb.png) no-repeat 0 0/100% auto; margin-top:25px;}
.ic_twtr{width:23px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_twtr.png) no-repeat 0 0/100% auto; margin-top:22px;}
.ic_lnkdin{width:32px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_lnked.png) no-repeat 0 0/100% auto; margin-top:20px;}
.ic_utbe{width:38px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_utbe.png) no-repeat 0 0/100% auto; margin-top:22px;}
.ic_rss{width:36px; height:57px; display:inline-block; vertical-align:middle; background:url(../images/ic_rss.png) no-repeat 0 0/100% auto; margin-top:25px;}

footer{background:#fff;}
.abt{padding:1em; margin: 0; text-align:left;}
.abt h3, .footer-link h3{font-size:16px; font-family:'robotomedium', sans-serif; color:#474747; text-transform:uppercase; margin:0 0 15px;}
.abt p{font-size:14px; font-family:'robotolight', sans-serif; color:#858484; margin:0; padding:0; line-height:1.4; text-align:justify;}
.ftr-btm{background:#474747; padding:1em; text-align:center; font-size:12px; font-family:'robotolight', sans-serif; color:#fff; line-height:1.3;}
.footer-link{ padding:1em; text-align:left; float: none;}
.footer-link li{display:block; margin:0 0 7px; border-bottom:1px solid #eee;}
.footer-link li a{color:#858484; font-size: 14px; font-family:'exo_2light', sans-serif; display:block; padding:7px 0;}
.footer-link li a:hover{color:#00d59d;}

.pages{}
.pages .page-banner{background:url(../images/download-app.png) no-repeat 0 0/cover; height:75px; overflow:hidden;}
.pages h1{color:#fff!important;}
.content{background:#fff; color:#858484; font-size:16px; font-family:'exo_2regular', sans-serif; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15); padding:1em; margin:1em .5em;}

/*==== animation css =======*/
.animated {-webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;	     -o-animation-fill-mode: both; animation-fill-mode: both;}
.animated.fadeInUp {-webkit-animation-name: fadeInUp; -moz-animation-name: fadeInUp; -o-animation-name: fadeInUp; animation-name: fadeInUp;}
@-webkit-keyframes fadeInUp {0% {opacity: 0; -webkit-transform: translateY(20px);} 100% {opacity: 1; -webkit-transform: translateY(0);} }
@-moz-keyframes fadeInUp {0% {opacity: 0; -moz-transform: translateY(20px);} 100% {opacity: 1; -moz-transform: translateY(0);} }
@-o-keyframes fadeInUp {0% {opacity: 0; -o-transform: translateY(20px);} 100% {opacity: 1; -o-transform: translateY(0);} }
@keyframes fadeInUp {0% {opacity: 0; transform: translateY(20px);} 100% {opacity: 1; transform: translateY(0);} }
.animated.bounceInUp {-webkit-animation-name: bounceInUp; -moz-animation-name: bounceInUp; -o-animation-name: bounceInUp; animation-name: bounceInUp;}
@-webkit-keyframes bounceInUp {0% {opacity: 0; -webkit-transform: translateY(2000px);} 60% {opacity: 1; -webkit-transform: translateY(-30px);} 80% {-webkit-transform: translateY(10px);} 100% {-webkit-transform: translateY(0);} }
@-moz-keyframes bounceInUp {0% {opacity: 0; -moz-transform: translateY(2000px);} 60% {opacity: 1; -moz-transform: translateY(-30px);} 80% {-moz-transform: translateY(10px);} 100% {-moz-transform: translateY(0);} }
@-o-keyframes bounceInUp {0% {opacity: 0; -o-transform: translateY(2000px);} 60% {opacity: 1; -o-transform: translateY(-30px);} 80% { -o-transform: translateY(10px);} 100% {-o-transform: translateY(0);} }
@keyframes bounceInUp {0% {	opacity: 0; transform: translateY(2000px);} 60% {opacity: 1; transform: translateY(-30px);} 80% {transform: translateY(10px);} 100% {transform: translateY(0);} }
.animated.bounceInLeft {-webkit-animation-name: bounceInLeft; -moz-animation-name: bounceInLeft; 	-o-animation-name: bounceInLeft; animation-name: bounceInLeft;}
@-webkit-keyframes bounceInLeft {0% {opacity: 0; -webkit-transform: translateX(-2000px);} 60% {opacity: 1; -webkit-transform: translateX(30px);} 80% {-webkit-transform: translateX(-10px);} 100% {		-webkit-transform: translateX(0);} }
@-moz-keyframes bounceInLeft {0% {opacity: 0; -moz-transform: translateX(-2000px);} 60% {opacity: 1; -moz-transform: translateX(30px);} 80% {-moz-transform: translateX(-10px);} 100% {-moz-transform: translateX(0);} }
@-o-keyframes bounceInLeft {0% {opacity: 0; -o-transform: translateX(-2000px);} 60% {opacity: 1; -o-transform: translateX(30px);} 80% { -o-transform: translateX(-10px);} 100% {-o-transform: translateX(0);} }
@keyframes bounceInLeft {0% {opacity: 0; transform: translateX(-2000px);} 60% {opacity: 1; transform: translateX(30px);} 80% {transform: translateX(-10px);}	100% {transform: translateX(0);} }
.animated.bounceInRight {-webkit-animation-name: bounceInRight; -moz-animation-name: bounceInRight; -o-animation-name: bounceInRight; animation-name: bounceInRight;}
@-webkit-keyframes bounceInRight {0% {opacity: 0; -webkit-transform: translateX(2000px);} 60% { opacity: 1; -webkit-transform: translateX(-30px);} 80% { -webkit-transform: translateX(10px);} 100% {	-webkit-transform: translateX(0);} }
@-moz-keyframes bounceInRight {0% {opacity: 0; -moz-transform: translateX(2000px);} 60% {opacity: 1; -moz-transform: translateX(-30px);} 80% {-moz-transform: translateX(10px);} 100% {-moz-transform: translateX(0);} }
@-o-keyframes bounceInRight {0% { opacity: 0;-o-transform: translateX(2000px);} 60% {opacity: 1; -o-transform: translateX(-30px);} 80% {	-o-transform: translateX(10px);} 100% {-o-transform: translateX(0);}}
@keyframes bounceInRight {0% {opacity: 0; transform: translateX(2000px);} 60% {opacity: 1; transform: translateX(-30px);} 80% {transform: translateX(10px);} 100% {transform: translateX(0);} }
.animated.pulse {-webkit-animation-name: pulse; -moz-animation-name: pulse; -o-animation-name: pulse; animation-name: pulse;}
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); } 50% { -webkit-transform: scale(1.1); } 100% { -webkit-transform: scale(1); } }
@-moz-keyframes pulse {0% { -moz-transform: scale(1); } 50% { -moz-transform: scale(1.1); } 100% { -moz-transform: scale(1); } }
@-o-keyframes pulse { 0% { -o-transform: scale(1); } 50% { -o-transform: scale(1.1); } 100% { -o-transform: scale(1); } }
@keyframes pulse {0% { transform: scale(1); } 50% { transform: scale(1.1); } 100% { transform: scale(1); } }
.hidden{opacity: 0;}
.visible{opacity: 1;}

/** --------- pages --------- **/
.pages h2 {font-size:14px !important; margin:0 0 10px !important; padding:0 !important; text-align:left !important;}
.pages h2:after{margin:8px 0!important; height:2px!important; width:40px!important;}
.pages p {font-size: 14px; font-weight: normal !important; line-height: 1.5; text-align:left; margin:0; padding:0 0 10px;}
.pages p b{color:black;}
.pages ol {list-style: outside none numaric; padding:1em;}
.pages li{margin:0 0 10px; color: black;}

/* ======== login =============*/
.login{width:320px!important;}
.login .content{border-radius:3px;}
.login .login-avatar{text-align:center; margin:0; }
.login h4{color:#333; font-size:16px; font-family:'robotomedium', sans-serif; text-align:center; margin:0 0 20px;}
.login .login-input input[type="text"], input[type="password"]{border:1px solid #ddd; background:#fff; font-size:13px; font-family:'robotolight', sans-serif; color:#858484; margin:0 0 10px; padding:1em; width: 100%;}
.login .submit_btn, .login .submit_btn_signup{background: #00d59d; color:#fff; font-size:16px; font-family:'robotomedium', sans-serif; text-align:center; margin:15px 0; padding:.7em 1em; border:0px none; width:100%; cursor:pointer;}
.submit_btn_signup{background:#eee!important; color:#333 !important; border:1px solid #ddd!important;}
.login .noacnt{text-align:center; margin:0;}
.login p{font-size:13px; font-family:'robotolight', sans-serif; line-height:1.4;}
/* ========= register ==========*/
.registeras_a{margin:45px 0 0; text-align:center;}
.registeras_a li{float: left; margin:0 3.5% 0 0; padding: 0; width:31%; box-shadow:0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15); background: #FFF; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}
.registeras_a li:last-child{margin-right:0px;}
.registeras_a .register_bnr{height:180px; background: url("../images/banner-bg.jpg") no-repeat 0 0/cover; line-height:180px; font-family:"exo_2semi_bold", sans-serif; color:#fff; font-size:34px; text-transform: uppercase;}
.registeras_a .register_bnr_contnt{font-size:16px; font-family:"exo_2semi_bold", sans-serif; color:#474747; margin:0 0 10px; padding:1em; line-height:1.4;}
.register_btn{background: #00d59d; color:#fff; font-size:16px; font-family:'robotomedium', sans-serif; text-align:center; margin:15px auto 25px; padding:.7em 1em; border:0px none; width:233px; cursor:pointer; text-transform: uppercase;}


/*form styles*/
.sign-upform{ min-height: 600px; font-family:'exo_2regular', sans-serif;}
.sign-upform h2{margin:10px 0 15px!important; font-size:18px!important;}
#msform {width:800px; margin:50px auto; text-align: center; position: relative;}
#msform fieldset {background: white; border: 0 none; border-radius: 3px; box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); padding: 20px 30px; box-sizing: border-box; width: 80%;	margin: 0 10%; position: absolute;}
#msform fieldset:not(:first-of-type) {display: none;}
#msform input, #msform textarea {padding: 15px; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 10px; width: 75% !important; box-sizing: border-box; font-family:'robotolight', sans-serif; color: #2C3E50; font-size: 13px;}
#msform select {padding: 15px; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 10px; width: 23% !important; box-sizing: border-box; font-family:'robotolight', sans-serif; color: #2C3E50; font-size: 13px;}
#msform input[type="checkbox"]{width: auto; height: auto;}
#msform label{display: block; margin: 5px 0; font-size: 13px;}
#msform .action-button {width:200px; background: #27AE60; font-weight: bold; color: white; border: 0 none; border-radius: 1px; cursor: pointer; padding: 10px 5px; margin: 10px 5px;}
#msform .action-button:hover, #msform .action-button:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;}
.fs-title {font-size: 15px; text-transform: uppercase; color: #2C3E50; margin-bottom: 10px;}
.fs-subtitle {font-weight: normal; font-size: 13px; color: #666; margin-bottom: 20px;}
#progressbar {margin-bottom: 30px; overflow: hidden; counter-reset: step;}
#progressbar li {list-style-type: none; color:#27ae60; text-transform: uppercase; font-size:13px; width: 33.33%; float: left; position: relative;}
#progressbar li:before {content: counter(step); counter-increment: step; width: 20px; line-height: 20px; display: block; font-size: 10px; color: #333; background: white;	border-radius: 3px; margin: 0 auto 5px auto;}
#progressbar li:after {content: ''; width: 100%; height: 2px; background: white; position: absolute; left: -50%; top: 9px; z-index: -1;}
#progressbar li:first-child:after {content: none; }
#progressbar li.active:before,  #progressbar li.active:after{background: #27AE60; color: white;}

/* ============== Subscription Plans =============== */
.subscription_plans{}
.subscription_plans li{width:100%; float:left; margin:0 15px 30px 0; padding:0; background:#eee; border-radius:4px; -webkit-border-radius:4px;}
.subscription_plans li:nth-child(4n){margin-right:0px;}
.subscription_plans li .plan_hdngclr{background:#555; color:#fff; font-size:21px; text-align:center; padding:.7em; margin-bottom:10px; text-transform:uppercase; border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; position:relative;}
.plan_hdngclr > i {bottom: 2px; color: greenyellow;font-size: 12px; position: absolute; right:90px;}
.big_txthdng {font-size:16px !important; text-transform:uppercase; font-family:"exo_2semi_bold", sans-serif;}

.subscription_plans  .plan_row_list li{color:#000; font-family: "robotoregular", sans-serif; float:none; margin:0; padding:1em; border-bottom:1px solid #ddd; display:block; text-align:center; font-size:14px;}
.subscription_plans  .plan_row_list li:last-child{border-bottom:0px none;}
.subscription_plans  .plan_row_list li span{color:#666; margin-right:8px; font-size:14px;}
.plan_register, .bg_grn , .bg_blu , .bg_pnk, .bg_navy, .bg_orng{background:#00d59d; border-radius: 25px; -webkit-border-radius: 25px; color: #fff; display: block; font-size:18px; font-weight:bold; margin:5px auto; padding:0.7em 1em; text-align:center; width:150px;}
.bg_grn {background:#80cb2b;}
.bg_blu {background:#2bcdc0;}
.bg_pnk {background:#ed5564;}
.bg_navy {background:#34495e;}
.bg_orng {background:#f57c00;} 